
// {{.TitleName}} {{.Description}}
type {{.TitleName}} struct {{"{"}}{{range .PossibleTypes}}
	// {{.TitleName}} A possible type of {{.Name}}
	{{.TitleName}} *{{.TitleName}} `json:"{{.Name}}"`{{end}}
}

// UnmarshalJSON customer unmarshal function for {{.Name}} union type
func ({{.FirstChar}} *{{.TitleName}}) UnmarshalJSON(data []byte) error {{"{"}}{{range .PossibleTypes}}
	if err := json.Unmarshal(data, &{{$.FirstChar}}.{{.TitleName}}); err != nil {
		return err
	}
	{{end}}
	return nil
}
